# macOS
.DS_Store

# VS Code
.vscode/

# Vim / swap files
*.swp

# Virtual environments
.venv/
venv/
.env/

# Python cache
__pycache__/
*.pyc

# Secrets
.env
*.key
*.pem

# Local config
config_local.yaml
config_local.json

# Data files
data/
*.csv
*.parquet

# track source code related to data handling
!src/data/
!src/data/**

# Outputs
experiments/
logs/
*.log

# Ignore Jupyter Notebooks and Checkpoints
.ipynb_checkpoints/

# Ignore Local Modeling Outputs
models/ensemble/Archive/
models/ensemble/results/
__pycache__/

node_modules/


